/* Global Styles */
body {
    background-color: #000;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Header Styles */
header {
    background-color: #b80000; /* dark red */
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

/* Section Styles */
section {
    padding: 40px 20px;
    margin: 20px 0;
}

#about {
    background-color: #222;
}

#projects {
    background-color: #333;
}

/* Animation Styles with AOS */
[data-aos="fade-up"] {
    transition: transform 1s ease-out;
}

[data-aos="fade-left"] {
    transition: transform 1s ease-out;
}

[data-aos="flip-left"] {
    transition: transform 1s ease-out;
}

/* Footer Styles */
footer {
    background-color: #b80000; /* dark red */
    color: white;
    padding: 10px;
    text-align: center;
}

/* Additional Styling for Project Items */
.project-item {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000; /* project description text color */
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

.project-item:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}
